@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding:0 ;
  font-family: "Inter",sans-serif;
  text-transform: capitalize;
}
/* Reuseable typography */
.flexible {
  display: flex;
}
.container {
  width: 980px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 15px 0;
  text-transform: uppercase;
}
h1 {
  font-size: 55px;
 
}
h2 {
  font-size: 45px;
}
h4{
  font-size: 24.2px;
}
p{
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 400;
}
a{
  text-decoration: none;
  font-weight: 400;
  
}

.btn{
  padding: 10px 20px;
  background: #EF233C;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  margin: 20px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition:0.5s all ease ;
  -webkit-transition:0.5s all ease ;
  -moz-transition:0.5s all ease ;
  -ms-transition:0.5s all ease ;
  -o-transition:0.5s all ease ;
}
.btn:hover{
letter-spacing: 2px;
padding: 10px 20px;
}

/* header section style start  */
#header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.059)),url(img/header-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
}
.header_wrap {
  align-items: center;
  height: 100%;
}
.header_element {
  width: 50%;
}
.header_element p{
  text-align: justify;
}
/* Zakat blog section  */
.zakat_blog_sec{
  padding: 40px 0;
}
.content_wrap{
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;  
  row-gap: 50px;

}
.content_wrap .half_width{
  width: 48%;  
  position: relative;
}
.content_wrap .half_width img{
  width: 90%;
}
.content_wrap .half_width img.play_icon{
  width: 10%;
  position: absolute;
  top:50% ;
  left:50% ;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

/* Our services types */